/** @format */

@use "../abstract/variables" as ab;

.emby-button {
	position: relative;
	&[is="emby-button"]:not(.emby-tab-button),
	&.raised[is="emby-linkbutton"]:not(.emby-tab-button) {
		background: ab.$background-dark;
		border-radius: 100vh;
		overflow: hidden;
		&::after {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background: ab.$gradient-default;
			z-index: -1;
			opacity: 0;
			transition: opacity ab.$transition-time-fast-1 linear;
		}
		&:hover::after,
		&:focus::after {
			opacity: 1;
		}
	}
	&.emby-collapsible-button {
		box-shadow: none;
		border: 0 !important;
		background: transparent !important;
		&::after {
			display: none !important;
		}
	}
}

.paper-icon-button-light {
	border-radius: ab.$rounding-default;
}

.skipIntro {
	padding: 0 1px;
    position: absolute;
    right: 10em;
    bottom: 11em;
    background-color:ab.$background-gradient;
    border: 1px solid;
    border-radius: ab.$rounding-default;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 ab.$jf-blue-light;
    -webkit-transition: ease-out ab.$transition-time-fast-1;
    -moz-transition: ease-out ab.$transition-time-fast-1;
    transition: ease-out ab.$transition-time-fast-1;
}

.skipIntro:hover {
	box-shadow: inset 400px 0 0 0 ab.$jf-blue-light;
    -webkit-transition: ease-in ab.$transition-time-default linear;
    -moz-transition: ease-in ab.$transition-time-default linear;
	transition: ease-in ab.$transition-time-default linear;
}